<div id='container'>

  <form name="shorten" ng-submit='addLink()'>
		<input name="link" type="url" ng-model='link.url' placeholder="enter URL" required ng-class="{'error': shorten.$invalid && shorten.$dirty}"/>
		<button type="submit" value="Shorten" ng-diabled="shorten.$invalid">addlinks</button>
	</form>
  <div ng-if='shorten.link.$error.required && shorten.$dirty' class="message">
    <h2>put in a freakin URL</h2>
  </div>
  <div ng-show='shorten.link.$error.url && shorten.$dirty' class="message">
    <h2>WRONG URL DUHHHHHH</h2>
  </div> 
</div>


<!--  <input placeholder="search" ng-model="search">
    <ul>
      <li  ng-click="remove($index)"
        ng-repeat="post in redditPost | filter:search">
        {{ post.data.title }}
      </li>
    </ul> -->